.markdown code { background:#f0f0f0; color:navy; border-radius:6px; padding:2px; } 
.markdown pre  { background:#f0f0f0; margin:12px; border:1px solid #ddd; padding:20px 12px; border-radius:6px; } 
.markdown pre:hover button { display:block; }
.markdown pre button { display:none; position:relative; float:right; top:-16px }
.markdown blockquote { background:#f0f0f0; border-left:6px solid grey; padding:8px }
.markdown table { margin:12px; border-collapse: collapse; }
.markdown th    { border:1px solid grey; background:lightgrey; padding:6px; } 
.markdown td    { border:1px solid grey;  padding:6px; }
.markdown tr:nth-child(even) {  background:#f0f0f0;  }
.markdown ins { color:#890604 } 
.markdown rem { color:#198964 }
.toc ul  { padding: 0 12px; }
.toc h3  { color:#0057b7; border-bottom:1px dotted  grey }
.toc .H1 { list-style-type:none; font-weight:600; margin:4px; background:#eee }
.toc .H2 { list-style-type:none; font-weight:600; margin:4px; }
.toc .H3 { margin-left:2em }
.toc .H4 { margin-left:4em }
.toc .active { color:#0057b7  }
.toc li:hover { background:#f0f0f0 }
.h1-rcol { display: flex; flex-direction: column; }
.h1-rcontent { text-align: center; font-size: 60%; }
.h1-rcontent img { height: auto; max-width: 125px; }
.h1-ccol { display: flex; flex-direction: column; }
.h1-cheader { text-align: center; }
.h1-ccontent { text-align: center; font-size: 60%; }
.h1-icon { height: auto; max-width: 20%; }
.h2-lcol { display: flex; flex-direction: column; }
.h2-ccol { display: flex; flex-direction: column; align-items: center; }
.h2-ccontent { text-align: center; font-weight: normal; font-size: .67em; }
.h2-lcontent { text-align: left; font-weight: normal; font-size: .67em; }
.h2-rcontent { font-style: normal; font-weight: normal; font-size: .67em; }
.h2-icon { height: auto; max-width: 10%; }
.h3-lcol { display: flex; flex-direction: column; }
.h3-ccol { display: flex; flex-direction: column; align-items: center; }
.h3-ccontent { text-align: center; font-weight: normal; font-size: .83em; }
.h3-lcontent { text-align: left; font-weight: normal; font-size: .83em; }
.h3-rcontent { font-style: normal; font-weight: normal; font-size: .83em; }
.h3-icon { height: auto; max-width: 5%; }
.h4-lcol { display: flex; flex-direction: column; }
.h4-ccol { display: flex; flex-direction: column; align-items: center; }
.h4-ccontent { text-align: center; font-weight: normal; }
.h4-lcontent { text-align: left; font-weight: normal; }
.h4-rcontent { font-style: normal; font-weight: normal; }
.h4-icon { height: auto; max-width: 5%; }